body {
  margin: 0px;
}
/* App.css */
.App {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.app-title {
  color: white;
  margin: 0;
  font-size: 1.5em;
}

.app-content {
  padding: 20px;
  min-height: calc(100vh - 88px); /* Adjusted to account for header height */
}

@media (max-width: 768px) {
  .app-title {
    font-size: 1.2em;
  }

  .app-content {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .app-title {
    font-size: 1em;
  }

  .app-content {
    padding: 5px;
  }
}
